@use "../global/variables.scss" as v; // Importa las variables desde el archivo _variables.scss y asigna un alias "v"

.footer { // Estilos para el pie de página
    background-color: v.$color-footer; // Establece el color de fondo del footer usando una variable
    text-align: center; // Centra el texto horizontalmente
    padding: 20px; // Añade un espacio de relleno de 20px alrededor del contenido
    font-family: v.$fuente-secundaria; // Usa una fuente de letra específica para el footer
    font-weight: 600; // Establece el grosor de la fuente a semibold
    color: v.$color-texto; // Establece el color del texto usando una variable
  
    aside { // Estilos para la navegación dentro del footer
        ul { // Estilos para la lista de enlaces
            list-style: none; // Elimina los puntos de la lista
            display: flex; // Usa flexbox para distribuir los elementos horizontalmente
            justify-content: center; // Centra los elementos horizontalmente
            gap: 15px; // Espacio entre los elementos de la lista
            padding: 0; // Elimina el relleno predeterminado de la lista
        }
  
        a { // Estilos para los enlaces
            text-decoration: none; // Elimina el subrayado de los enlaces
            color: v.$color-texto; // Establece el color del texto usando una variable
            font-size: 16px; // Tamaño de la letra
            transition: color 0.3s ease; // Transición suave del color al pasar el ratón

            &:hover { // Estilos al pasar el ratón por encima del enlace
                color: v.$color-borde-boton; // Cambia el color del texto al color del borde del botón
            }
        }
  
        p { // Estilos para el párrafo
            margin: 0; // Elimina los márgenes predeterminados
            font-size: 10px; // Tamaño de la letra
            text-align: right; // Alinea el texto a la derecha
        }
    }
}