@use "../global/variables.scss" as v; // Importa las variables y les asigna el alias "v"
@use "../global/mixins.scss" as mixins; // Importa mixins y se asigna a el alias "mixins"

.header {
  display: flex; // Usa flexbox para el diseño
  align-items: center; // Centra verticalmente los elementos
  justify-content: space-between; // Distribuye el espacio entre los elementos
  margin: 0 auto; // Centra horizontalmente el header
  padding: 1rem 2rem; // Añade relleno interno
  background-color: v.$color-header; // Establece el color de fondo
  border: 3px solid v.$color-borde-seccion; // Añade un borde
  border-radius: 5px; // Redondea las esquinas
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Añade una sombra suave
  
  .logo {
    display: flex; // Usa flexbox para el logo
    align-items: center; // Centra verticalmente el logo
    justify-content: center; // Centra horizontalmente el logo

    img {
      width: 80px; // Establece el ancho de la imagen del logo
      height: auto; // Ajusta la altura automáticamente
      border-radius: 50%; // Hace que la imagen sea circular
    }
  }

  .nav {
    flex-grow: 1; // Permite que la navegación crezca para ocupar el espacio disponible
    display: flex; // Usa flexbox para la navegación
    justify-content: center; // Centra los elementos de navegación
    align-items: center; // Centra verticalmente los elementos de navegación

    ul {
      list-style: none; // Elimina los estilos de lista predeterminados
      display: flex; // Usa flexbox para la lista de navegación
      gap: 2rem; // Añade espacio entre los elementos de la lista
      align-items: center; // Centra verticalmente los elementos de la lista
      padding: 0; // Elimina el relleno interno
      margin: 0; // Elimina el margen externo

      li a {
        @extend .enlace-base; // Extiende los estilos de .enlace-base

        &:hover {
            color: v.$color-borde-boton; // Cambia el color al pasar el ratón
        }
      }   
    }
  }

  .enlace-base {
    text-decoration: none; // Elimina la decoración de texto predeterminada
    color: v.$color-texto; // Establece el color del texto
    font-weight: bold; // Establece el peso de la fuente en negrita
    font-size: 1.3rem; // Establece el tamaño de la fuente
    font-family: v.$fuente-secundaria; // Establece la fuente
  }

  .btn-primary {
      @include mixins.button-styles(v.$color-boton, v.$color-texto); // Incluye los estilos del botón desde un mixin
  }
}

// Media Query para tabletas (768px - 964px)
@media (max-width: 964px) and (min-width: 768px) {
  .header {
    flex-direction: column; // Cambia la dirección del flexbox a columna
    text-align: center; // Centra el texto
  }

  .nav ul {
    flex-direction: row; // Mantiene la dirección del flexbox en fila
    gap: 1rem; // Reduce el espacio entre los elementos de la lista
    flex-wrap: wrap; // Permite que los elementos se envuelvan a la siguiente línea
    justify-content: center; // Centra los elementos
  }

  .nav ul li a {
    font-size: 1rem; // Reduce el tamaño de la fuente
    padding: 0.5rem; // Añade relleno interno
  }

  .logo img {
    width: 60px; // Reduce el ancho de la imagen del logo
  }

  .btn-primary {
    font-size: 1rem; // Ajusta el tamaño de la fuente del botón
    padding: 8px 12px; // Ajusta el relleno interno del botón
  }
}

// Media Query para móviles (menos de 768px)
@media (max-width: 768px) {
  .header {
    flex-direction: column; // Cambia la dirección del flexbox a columna
    text-align: center; // Centra el texto
  }

  .nav ul {
    flex-direction: row; // Mantiene la dirección del flexbox en fila
    gap: 0.3rem; // Reduce el espacio entre los elementos de la lista
    flex-wrap: wrap; // Permite que los elementos se envuelvan a la siguiente línea
    justify-content: center; // Centra los elementos
  }

  .nav ul li a {
    font-size: 0.9rem; // Reduce el tamaño de la fuente
    padding: 0.3rem 0rem; // Reduce el relleno interno
    letter-spacing: -0.9px; // Reducir el espaciado entre letras
  }

  .logo-image {
    width: 60px; // Reduce el ancho máximo de la imagen del logo
  }

  .btn-primary {
    font-size: 0.75rem; // Reduce el tamaño de la fuente del botón
    padding: 4px 8px; // Reduce el relleno interno del botón
  }
}