// VARIABLES GENERALES 

//  Colores Globales
$color-texto: #333333; // Color de texto principal
$color-fondo: #FFE8E8; // Color de fondo general
$color-footer: #F6F6F6; // Color de fondo del footer

//  Fuentes
$fuente-principal: 'Open Sans', sans-serif; // Fuente para textos principales
$fuente-secundaria: 'Montserrat', sans-serif; // Fuente para textos secundarios
$fuente-decorativa: 'Pacifico', cursive; // Fuente para textos decorativos


// VARIABLES PARA LANDING 

$color-header: #FFDFDF; // Color de fondo del header en landing
$color-seccion-titulo: #FFDFDF; // Color de fondo para títulos de sección
$color-borde-seccion: #E0BBB0; // Color de borde para secciones
$color-fondo-texto: #FFFFFF; // Color de fondo para el texto


//  VARIABLES PARA HOME 

$color-fondo-receta: #FFDFDF; // Color de fondo para las tarjetas de recetas
$color-boton: #FFD3C2; // Color de fondo para botones
$color-borde-boton: #FFC2A1; // Color de borde para botones


//  VARIABLES PARA RECETAS
$color-fondo-categorias: #FFDFDF;
$color-borde-buscador: #333333;
$color-fondo-buscador: #FFFFFF;
$color-fondo-menu: #FFC2A1;
