@use "../global/variables.scss" as v; // Importa las variables y les asigna el alias "v"
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

body {
    background-color: v.$color-fondo-contacto; // Color de fondo del cuerpo
    color: v.$color-texto; // Color de texto principal
    font-family: v.$fuente-principal; // Fuente de texto principal
    margin: 0; // Elimina los márgenes predeterminados
    padding: 0; // Elimina el relleno predeterminado
}

/* Estilos para la sección principal de contacto */
.contacto-main {
    display: flex; /* Usamos flexbox para el diseño */
    flex-direction: column; /* Alineamos los elementos en columna */
    align-items: center; /* Centramos horizontalmente los elementos */
    padding: 20px; /* Añadimos relleno alrededor del contenido */

    /* Estilos para el formulario de contacto */
    .contacto-form {
        border: 1px solid v.$color-borde-form; /* Borde del formulario */
        padding: 20px; /* Añadimos relleno dentro del formulario */
        font-family: v.$fuente-secundaria; /* Fuente Montserrat para el formulario */
        font-weight: 700; /* Negrita para el formulario */
        width: 100%; /* El formulario ocupa todo el ancho disponible */
        max-width: 400px; /* Ancho máximo del formulario */
        margin-bottom: 20px; /* Añadimos margen inferior */

        /* Estilos para el formulario en sí */
        form {
            display: flex; /* Usamos flexbox para el diseño del formulario */
            flex-direction: column; /* Alineamos los elementos del formulario en columna */

            /* Estilos para las etiquetas de los campos del formulario */
            label {
                margin-bottom: 5px; /* Añadimos margen inferior a las etiquetas */
            }

            /* Estilos para los campos de entrada y el área de texto del formulario */
            input, textarea {
                border: 2px solid v.$color-borde-form; /* Borde de los campos del formulario */
                padding: 10px; /* Añadimos relleno dentro de los campos */
                margin-bottom: 10px; /* Añadimos margen inferior a los campos */
            }

            /* Estilos para el botón de envío del formulario */
            button {
                background-color: v.$color-boton; /* Color de fondo del botón */
                border: 2px solid v.$color-borde-boton; /* Borde del botón */
                font-family: v.$fuente-decorativa; /* Fuente de texto decorativa */
                font-weight: 400; /* Texto normal */
                padding: 15px 30px; /* Relleno interno del botón */
                border-radius: 8px; /* Bordes redondeados del botón */
                margin: 20px auto 0; /* Márgenes del botón */
                width: 300px; /* Ancho del botón */
                cursor: pointer; /* Cursor de puntero al pasar por encima */
                color: v.$color-texto; /* Color de texto del botón */

                /* Estilos al pasar el ratón por encima del botón */
                &:hover {
                    background-color: v.$color-borde-boton; /* Cambia el color de fondo */
                }
            }
        }
    }

    /* Estilos para la sección de información de contacto */
    .contacto-info {
        background-color: v.$color-fondo-contacto-info; /* Fondo de la sección de información */
        padding: 20px; /* Añadimos relleno dentro de la sección */
        font-family: v.$fuente-principal; /* Fuente Open Sans para la información de contacto */
        font-weight: 400; /* Regular para la información de contacto */
        width: 100%; /* La sección ocupa todo el ancho disponible */
        max-width: 400px; /* Ancho máximo de la sección */
        display: flex; /* Usamos flexbox para el diseño */
        flex-direction: column; /* Alineamos los elementos en columna */
        align-items: center; /* Centramos horizontalmente los elementos */
        margin-top: 30px; /* Añade margen superior */
        margin-bottom: 30px; /* Añade margen inferior */

        /* Estilos para los artículos dentro de la sección de información */
        article {
            margin-bottom: 10px; /* Añadimos margen inferior a los artículos */
        }

        /* Estilos para el mensaje "Sígueme" */
        .contacto-sigueme {
            font-family: v.$fuente-secundaria; /* Fuente Montserrat para "Sígueme" */
            font-weight: 600; /* Semibold para "Sígueme" */
        }

        /* Estilos para la sección de redes sociales */
        .contacto-redes {
            display: flex; /* Usamos flexbox para alinear los elementos */
            align-items: center; /* Centramos verticalmente los elementos */
            text-align: left; /* Alineamos el texto a la izquierda */
        }

        /* Estilos para la palabra "Redes:" */
        strong {
            margin-right: 10px; /* Agregamos un margen derecho para separar la palabra de los iconos */
            align-self: center; /* Alinea verticalmente la palabra "Redes:" */
        }

        /* Estilos para el contenedor de iconos de redes sociales */
        .social-icons {
            display: flex; /* Usamos flexbox para centrar los iconos */
            align-items: center; /* Centramos horizontalmente los iconos */
        }

        /* Estilos para los enlaces de iconos de redes sociales */
        .social-icons a {
            margin: 0 7px; /* Añadimos margen a los iconos */
        }

        /* Estilos para los iconos de redes sociales */
        .social-icons i {
            font-size: 1.5em; /* Tamaño de los iconos */
            color: v.$color-iconos; /* Color de los iconos */
            align-self: center; /* Alinea verticalmente los iconos */
        }
    }
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .contacto-main {
        .contacto-form {
            form {
                button {
                    width: auto; /* El botón se ajusta al contenido en móviles */
                    min-width: 150px; /* Ancho mínimo para el botón */
                    padding: 15px 30px; /* Ajusta el padding para que no sea tan grande */
                }
            }
        }
    }
}