@use "../global/variables.scss" as v; // Importa las variables y les asigna el alias "v"
@use "../global/funciones.scss" as f; // Importa las funciones y les asigna el alias "f"

// Estilos generales para el cuerpo de la página
body {
    background-color: v.$color-fondo-recetas; // Color de fondo del cuerpo
    color: v.$color-texto; // Color de texto principal
    font-family: v.$fuente-principal; // Fuente de texto principal
    margin: 0; // Elimina los márgenes predeterminados
    padding: 0; // Elimina el relleno predeterminado
    overflow-x: hidden;
}

/* Estilos para el elemento principal <main> */
main {
    flex-direction: column; /* Alineamos los elementos en columna */
    padding: 2rem; /* Relleno interno del elemento main */
    margin: 0 1rem; /* Márgenes laterales del elemento main */
    
    /* Estilos para el contenedor principal */
    .contenedor-principal {
        display: flex; /* Organiza el menú y las recetas en una fila */
        gap: 20px; /* Espacio entre el menú y las recetas */
        padding: 20px; /* Padding interno */
        max-width: 1200px; /* Ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor */
    
        @media (max-width: 1024px) {
            flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        }
    }

    /* Estilos para el menú de categorías */
    .menu-categorias {
        width: 250px; /* Ancho fijo del menú */
        background-color: v.$color-fondo;
        border: 1px solid v.$color-borde-menu;
        border-radius: 8px;
        padding: 10px;

        h2 {
            text-align: center;
            font-size: 1.2em;
            margin-bottom: 10px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                strong {
                    background-color: v.$color-fondo-menu;
                    color: v.$color-texto;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 0.5rem;
                    font-family: v.$fuente-principal;
                    font-weight: 400;
                }

                a {
                    text-decoration: none;
                    color: v.$color-texto;
                    font-family: v.$fuente-principal;
                    font-weight: 600;
                }
            }
        }

        @media (max-width: 1024px) {
            display: none; /* Oculta el menú en pantallas pequeñas */
        }
    }

    /* Estilos para el menú de categorías móvil */
    .menu-categorias-movil {
        display: none; /* Oculta el menú móvil en pantallas grandes */
        overflow-x: auto; /* Permite el desplazamiento horizontal */
        white-space: nowrap; /* Evita que los elementos se envuelvan */
        background-color: v.$color-fondo-menu;
        border: 1px solid v.$color-borde-menu;
        border-radius: 8px;
        padding: 10px;

        .categorias {
            h3 {
                text-align: center;
                font-size: 1.2em;
                margin-right: 10px;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex; /* Organiza los elementos en una fila */
                gap: 10px; /* Espacio entre los elementos */

                li {
                    display: inline-block; /* Muestra los elementos en línea */

                    a {
                        text-decoration: none;
                        color: v.$color-texto;
                        font-family: v.$fuente-principal;
                        font-weight: 600;
                        padding: 5px 10px;
                        border: 1px solid v.$color-borde-seccion;
                        border-radius: 4px;
                        background-color: v.$color-fondo-categorias;
                    }
                }
            }
        }

        @media (max-width: 1024px) {
            display: block; /* Muestra el menú móvil en pantallas pequeñas */
        }
    }

    /* Estilos para la caja de búsqueda */
    .search-box {
        display: flex;
        align-items: center;
        margin: 1rem auto;
        border: 2px solid v.$color-borde-buscador;
        background-color: v.$color-fondo-buscador;
        border-radius: 4px;
        padding: 0.3rem 0.5rem;
        margin-bottom: 1rem;
        width: 600px;
        max-width: 90%;

        img {
            width: 1rem;
            height: 1rem;
            margin-right: 0.4rem;
        }

        input {
            border: none;
            outline: none;
            flex: 1;
        }
    }

    /* Estilos para la sección de recetas */
    .recetas {
        flex: 1; /* Ocupa el espacio restante */
        text-align: center; /* Alineación del texto en el centro */
        margin: 20px 0; /* Márgenes superior e inferior */
        background-color: v.$color-seccion-titulo; /* Color de fondo */
        border: 2px solid v.$color-borde-seccion; /* Borde */
        font-family: v.$fuente-secundaria; /* Fuente Montserrat */
        font-weight: bold; /* Negrita */
        padding: 10px; /* Relleno interno */
        border-radius: 8px; /* Bordes redondeados */
        
        /* Estilos para el título de las recetas */
        h1 {
            font-size: 2em; /* Tamaño de la fuente */
            margin-bottom: 10px;
        }
    }

    /* Estilos para la cuadrícula de recetas */
    .recetas-grid {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: stretch; /* Centra verticalmente */
        gap: 20px;
        flex-wrap: wrap;
        width: 100%; /* Ocupa todo el ancho disponible */
        max-width: 100vw;
        overflow: hidden;
        padding: 0; /* Padding lateral */
        margin: 0 auto;

        /* Estilos para dispositivos móviles */
        @media (max-width: 767px) {
            gap: 20px; /* Reduce el espacio entre las recetas */
            padding: 0px; /* Añade un pequeño padding a los lados */
        }

        .receta {
            background-color: v.$color-fondo-receta;
            font-family: v.$fuente-secundaria;
            font-weight: 600;
            text-align: center;
            border-radius: 10px;
            flex: 1;
            max-width: 300px; /* Ancho máximo de cada tarjeta */
            display: flex; /* Alinea el contenido verticalmente */
            flex-direction: column;
            align-items: center;
            padding: 15px;

            /* Ajustes para dispositivos móviles */
            @media (max-width: 767px) {
                width: 100%; /* Ocupa todo el ancho disponible */
                max-width: 100%; /* Ocupa todo el ancho disponible en móviles */
                margin: 0; /* Elimina márgenes */
                padding: 0px; /* Reduce el padding interno */
            }

            img {
                width: 70%;
                height: auto;
                object-fit: contain;
                border-radius: 8px;
                margin: 0 auto; /* Centra la imagen */
                margin-bottom: 10px; /* Espacio debajo de la imagen */

                /* Ajustes para dispositivos móviles */
                @media (max-width: 767px) {
                    height: 200px; /* Aumenta la altura de la imagen */
                    object-fit: cover; /* Ajusta la imagen para cubrir el espacio */
                }
            }

            h2 {
                font-size: 1em; /* Tamaño del título */
                margin: 10px 0; /* Margen superior e inferior */
            }

            p {
                margin-top: 10px;
                margin-bottom: 15px;
                font-size: 0.9em;
                line-height: 1.4;
                flex: 1; /* Asegura que el texto ocupe el espacio restante */

                /* Ajustes para dispositivos móviles */
                @media (max-width: 767px) {
                    font-size: 0.7em; /* Aumenta el tamaño del texto */
                }
            }
        }

        /* Estilos para los botones de receta */
        .boton-receta {
            background-color: v.$color-boton;
            border: 2px solid v.$color-borde-boton;
            font-family: v.$fuente-decorativa;
            font-weight: 400;
            padding: 5px 10px;
            border-radius: 8px;
            text-align: center; /* Centrar el texto */
            display: inline-block; /* Asegurar que el botón no ocupe todo el ancho */
            cursor: pointer;
            color: v.$color-texto;

            &:hover {
                background-color: v.$color-borde-boton;
            }

            /* Ajustes para dispositivos móviles */
            @media (max-width: 767px) {
                width: 60%; /* Ocupa todo el ancho disponible */
                padding: 10px; /* Aumenta el padding para facilitar el clic */
            }
        }
    }

    /* Evitar carga innecesaria de imágenes en Firefox */
    @supports (-moz-appearance: none) {
        .receta img {
            max-width: 100%; /* Limita el tamaño según el contenedor */
            width: auto; /* Permite que Firefox elija la imagen óptima */
        }
    }
}

@media (max-width: 1024px) {
    .search-box {
        width: 90%;
        margin: 20px auto;

        input[type="text"] {
            padding: 2px 4px;
            font-size: 0.7em;
            width: 90%;
        }
    }

    .menu-categorias {
        display: none;
    }

    .menu-categorias-movil {
        position: relative;
        width: 100%;
        display: block;
        margin-top: 10px;
        z-index: 9999 !important;

        .categorias {
            display: flex;
            align-items: center;
            overflow-x: auto;
            white-space: nowrap;
            padding: 0.5rem;
            background-color: v.$color-fondo-menu;
            border-radius: 8px;

            li {
                display: inline-block;

                a {
                    display: block;
                    padding: 0.5rem 1rem;
                    border: 1px solid v.$color-borde-seccion;
                    border-radius: 4px;
                    text-decoration: none;
                    color: v.$color-texto;
                    background-color: v.$color-fondo-categorias;
                    font-weight: 400;
                    font-family: v.$fuente-principal;
                }
            }
        }
    }

    .recetas {
        h1 {
            margin-top: 0; /* Elimina el margen superior */
            margin-bottom: 0; /* Elimina el margen inferior */
        }
    }

    .receta {
        width: 100%;
        max-width: 80%; /* Reduce el ancho de las tarjetas */
        margin-bottom: 20px;
        padding: 10px; /* Reduce el padding */
        margin: 0;

        img {
            max-width: 100%; /* Amplía la imagen */
            height: auto;
            margin: 0 auto; /* Centra la imagen */
        }

        h2 {
            font-size: 1.2em; /* Reduce el tamaño de fuente del título */
        }

        p {
            margin-top: 0; /* Elimina el margen superior */
            margin-bottom: 0; /* Elimina el margen inferior */
        }
    }

    .recetas-grid {
        gap: 10px; /* Reduce el espacio entre las tarjetas */
    }

    .boton-receta {
        padding: 8px 16px; /* Reduce el padding del botón */
    }
}

@media (max-width: 768px) {
    .recetas {
        padding: 5px;
        margin: 0 10px;

        h1 {
            font-size: 1.5em;
        }
    }

    .recetas-grid {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .receta {
        display: flex;
        text-align: center;
        max-width: 100%;
        padding: 5px;
        margin: 0;

        img {
            width: auto;
            max-width: 110%; /* Hace la imagen aún más grande */
            height: auto;
            margin: 0 auto; /* Centra la imagen */
        }

        p {
            font-size: 1.1em;
            line-height: 1.2;
        }
    }

    .boton-receta {
        justify-content: center;
        padding: 10px 20px;
    }
}

@media (min-width: 768px) {
    .recetas-grid {
        grid-template-columns: 1fr 1fr; /* Dos columnas en pantallas medianas y grandes */
    }
}